.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1vh;
}

.signin-form {
  width: 300px;
  padding: 600px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.signin-form label {
  display: block;
  margin-bottom: 10px;
}

.signin-form input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.signin-form button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signin-form button:hover {
  background-color: #45a049;
}
